<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Giulia e Fabio si sposano</title>

  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/flexslider.css">
  <link rel="stylesheet" href="css/typicons.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Petrona' rel='stylesheet' type='text/css'>
  <script src='http://api.tiles.mapbox.com/mapbox.js/v1.5.0/mapbox.js'></script>
  <link href='http://api.tiles.mapbox.com/mapbox.js/v1.5.0/mapbox.css' rel='stylesheet' />

</head>
<body>

<section id="nav">

<!-- note sito giulia  -->


<!-- tondo nella prima vista
mi serve il claim prima dei dettagli
cambiare icona dress code con the noun ptoject
solo foto nella sezione lista nozze no copy
ca de memi nel footer gallinella

BUGS ***
viewport iphone il border radius non tiene

 -->

  <div class="row">
    <div class="large-4 columns">
      <ul class="navigation hide-for-small">
        <li><a class="scroll" href="#about-nav">NOI</a></li>
        <li><a class="scroll" href="#services-nav">CERIMONIA</a></li>
      </ul>
    </div>

    <div class="large-4 columns text-center">
      <a href="index.html"><h5 id="logo">GIULIA <i class="typcn typcn-heart"></i> FABIO</h5></a>
    </div>

    <div class="large-4 columns">
      <ul class="navigation hide-for-small">
        <li><a class="scroll" href="#work-nav">FOTO</a></li>
        <li><a class="scroll" href="#contact-nav">RSVP</a></li>
      </ul>
    </div>

    <div class="open-menu show-for-small right"><i class="typcn typcn-th-menu"></i></div>
  </div>

  <div class="row">
    <div class="large-12 columns mobile-nav">
      <ul class="navigation">
        <li><a class="scroll" href="#about-nav">NOI</a></li>
        <li><a class="scroll" href="#services-nav">CERIMONIA</a></li>
        <li><a class="scroll" href="#work-nav">FOTO</a></li>
        <li><a class="scroll" href="#contact-nav">RSVP</a></li>
      </ul>
    </div>
  </div>

</section>

<section id="home">

    <div id="home-slider">
      <ul class="slides">
        <li>
          <div class="row">
            <div class="large-12 columns">
              <div class="tile-wrapper">
                <div class="slider-tile">
                  <i class="typcn typcn-heart"></i>
                  <h5>GIULIA + FABIO</h5>
                  <div class="hr large-1 small-3"></div>
                  <div class="biline">10 Maggio<br />Piombino Dese<br />Italia, Veneto</div>
                </div>
              </div>
            </div>
          </div>
          <img class="slider-bg" alt="Slider Image" src="img/cadememi_facciata.JPG" />
        </li>

        <li>
          <div class="row">
            <div class="large-12 columns">
              <div class="tile-wrapper">
                <div class="slider-tile">
                  <i class="typcn typcn-heart"></i>
                  <h5>GIULIA + FABIO</h5>
                  <div class="hr large-1 small-3"></div>
                  <div class="biline">10 Maggio<br />Piombino Dese<br />Italia, Veneto</div>
                </div>
              </div>
            </div>
          </div>
          <img class="slider-bg" alt="Slider Image" src="http://lorempixel.com/1200/800/food/" />
        </li>
      </ul>
    </div>
</section>

<a id="about-nav"></a>
<section id="about" class="pad-large">
  <div class="row">
    <div class="large-12 columns text-center">
      <div class="page-header pad-bottom">
        <div class="box-heading">
          <i class="typcn typcn-heart"></i>     </div>
        <h1>CHI SIAMO</h1>
        <div class="hr large-1 small-3"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <p id="about-text">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
      </p>
    </div>
  </div>
</section>

<section id="quote-divider">
  <div class="row">
    <div class="large-8 large-centered columns">
      <h2 class="text-white"></h2>
      <div class="thick-hr large-3"></div>
      <a href="#services-nav"><div class="btn-wrapper"><div class="btn">DETTAGLI</div></div></a>
      <a target="_blank" class="scroll" href="#contact-nav"><div class="btn-wrapper"><div class="btn">RSVP</div></div></a>
    </div>
  </div>
</section>

<a id="services-nav"></a>
<section id="services" class="pad-large">

  <div class="row">
    <div class="large-12 columns text-center">
      <div class="page-header pad-bottom">
        <div class="box-heading">
          IL NOSTRO GRANDE GIORNO
        </div>
        <h1>DETTAGLI</h1>
        <div class="hr large-1 small-3"></div>
      </div>
    </div>
  </div>

  <div class="row services-row">

    <div class="large-4 columns">
      <div class="service text-center">
        <i class="typcn typcn-heart-outline"></i>
        <h5>CERIMONIA</h5>
        <div class="hr large-3 small-3"></div>
        <p>
          Ci sposeremo nella<br/>
          Chiesa di Piombino Dese<br/>
          alle ore 16.00 con accanto i nostri
          testimoni, le nostre famiglie,<br/>
          i parenti e tanti amici.<br/>
          Ciascuno di loro renderà speciale
          il nostro giorno.<br/>
          Prima della cerimonia ci si troverà
          o a casa di lei o a casa di lui
          a seconda dell’invito.
        </p>
      </div>
    </div>

    <div class="large-4 columns">
      <div class="service text-center">
        <i class="typcn typcn-beer"></i>
        <h5>I TESTIMONI</h5>
        <div class="hr large-3 small-3"></div>
        <p>
          Daniela e Luciana, amiche di sempre.
          Paolo e Andrea, leali compagni di birre.
          Per info di servizio potete contattarli a
          tutte le ore del giorno e della notte.
          Essere testimoni comporterà un po' di
          stress, dunque stressateli pure.<br/>
          Daniela <a href="tel:3402357210">340 23 57 210</a><br/>
          Luciana <a href="tel:3497339037">349 73 39 037</a><br/>
          Paolo <a href="tel:3283227972">328 32 27 972</a><br/>
          Andrea  <a href="tel:3404077902">340 40 77 902</a>
        </p>
      </div>
    </div>

    <div class="large-4 columns">
      <div class="service text-center">
        <i class="typcn"><img src="img/vestito.png"></i>
        <h5>DRESS CODE</h5>
        <div class="hr large-3 small-3"></div>
        <p>
          Amiamo i colori forti, le stampe, i ﬁori, le
          tinte pastello e anche il nero, amiamo
          gli accessori vistosi ma anche quelli
          piccoli e garbati, amiamo le scarpe col
          tacco e i cappelli, ma niente vi vestirà
          meglio della vostra allegria
          Portatevi qualcosa di caldo per la sera
          se dovesse fare freddo e un paio di
          scarpe comode per ballare.
          e del vostro sorriso.
        </p>
      </div>
    </div>
  </div>

  <div class="row services-row">

  <div class="large-4 columns">
    <div class="service text-center">
      <i class="typcn typcn-wine"></i>
      <h5>FESTA</h5>
      <div class="hr large-3 small-3"></div>
      <p>
        Dopo la cerimonia festeggeremo in Villa Ca' Marcello a Levada di Piombino Dese con l'aperitivo, la cena e musica per ballare. (....)
      </p>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="service text-center">
      <i class="typcn typcn-home"></i>
      <h5>DOVE DORMIRE</h5>
      <div class="hr large-3 small-3"></div>
      <p>
        Per chi viene da lontano,
        a Ca' de Memi, la casa della sposa, vi
        aspettano delle dolcissime camerette
        con tanto colore, sofﬁci cuscini e una
        gustosa colazione al mattino. Ingresso
        indipendente e tutte le comodità, con la
        possibilità di spiare i preparativi nelle
        stanze accanto, di vedere la
        Nonna Francesca che sorride
        e di accarezzare la Bonnie.
      </p>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="service text-center">
      <i class="typcn typcn-shopping-cart"></i>
      <h5>LISTA NOZZE</h5>
      <div class="hr large-3 small-3"></div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.
      </p>
    </div>
  </div>




  </div>

</section>

<section id="clients">
  <div class="row">
    <div class="large-12 columns text-center">
      <h3 class="text-white"><a target="_blank" href="http://www.momentz.me/search/?q=cadememi">#GIULIAEFABIOSISPOSANO</a></h3>
      <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, numquam earum maxime optio officia quod rem vel repellendus iste consectetur facilis quam commodi quos dolores placeat nisi quasi! Rem, voluptatum.</p>
      <div class="hr large-1 small-3"></div>
    </div>
  </div>

  <div class="row">
  </div>

</section>

<a id="work-nav"></a>
<section id="work" class="pad-large">

  <div class="row">
    <div class="large-12 columns text-center">
      <div class="page-header pad-bottom">
        <div class="box-heading">
          DOLCI RICORDI
        </div>
        <h1>FOTO</h1>
        <div class="hr large-1 small-3"></div>
      </div>
    </div>
  </div>

  <div class="row work-row">

    <div class="large-4 columns">
      <div class="work-item" data-project-id="project-1">
        <div class="work-img-holder">
          <img alt="Work Image" src="http://1.s3.envato.com/files/3976846/IMG_2944_sRGB.jpg" />
          <div class="work-overlay">
            <h6>PICCOLI SPOSI CRESCONO</h6>
            <div class="hr large-2 small-2"></div>
            <span>piccoli sposi crescono</span>
          </div>
        </div>
      </div>
    </div>

    <div class="large-4 columns">
      <div class="work-item" data-project-id="project-2">
        <div class="work-img-holder">
          <img alt="Work Image" src="img/la_villa/00.jpg" />
          <div class="work-overlay">
            <h6>LA VILLA</h6>
            <div class="hr large-2 small-2"></div>
            <span>la villa</span>
          </div>
        </div>
      </div>
    </div>

    <div class="large-4 columns">
      <div class="work-item" data-project-id="project-3">
        <div class="work-img-holder">
          <img alt="Work Image" src="http://3.s3.envato.com/files/4134258/Image_2261.jpg" />
          <div class="work-overlay">
            <h6>PREPARATIVI</h6>
            <div class="hr large-2 small-2"></div>
            <span>piccoli indizi</span>
          </div>
        </div>
      </div>
    </div>

  </div>



  <div id="project-1" class="project">
    <div class="row">
      <div class="large-12 columns text-center">
        <div class="close-project">
          <i class="typcn typcn-delete-outline"></i>
        </div>
        <div class="project-details">
          <h3>PICCOLI SPOSI CRESCONO</h3>
          <div class="hr large-1 small-3"></div>
          <p>
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
          </p>
        </div>
        <div class="project-images">
          <div class="row text-center">
            <div id="project-1-slideshow" class="work-slider">
              <ul class="slides">
                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="http://lorempixel.com/630/630/nature/" />
                  </div>
                </li>

                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="http://lorempixel.com/630/630/nature/" />
                  </div>
                </li>

                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="http://lorempixel.com/630/630/nature/" />
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="project-2" class="project">
    <div class="row">
      <div class="large-12 columns text-center">
        <div class="close-project">
          <i class="typcn typcn-delete-outline"></i>
        </div>
        <div class="project-details">
          <h3>LA VILLA</h3>
          <div class="hr large-1 small-3"></div>
          <p>
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
          </p>
        </div>
        <div class="project-images">
          <div class="row text-center">
            <div id="project-2-slideshow" class="work-slider">
              <ul class="slides">
                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="img/la_villa/01.jpg" />
                  </div>
                </li>

                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="img/la_villa/02.jpg" />
                  </div>
                </li>

                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="img/la_villa/02bis.jpg" />
                  </div>
                </li>

                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="img/la_villa/02tris.jpg" />
                  </div>
                </li>

                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="img/la_villa/03.jpg" />
                  </div>
                </li>

                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="img/la_villa/05.jpg" />
                  </div>
                </li>

                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="img/la_villa/07.jpg" />
                  </div>
                </li>

                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="img/la_villa/08.jpg" />
                  </div>
                </li>

                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="img/la_villa/09.jpg" />
                  </div>
                </li>

                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="img/la_villa/10.jpg" />
                  </div>
                </li>

                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="img/la_villa/11.jpg" />
                  </div>
                </li>

                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="img/la_villa/12.jpg" />
                  </div>
                </li>

                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="img/la_villa/13.jpg" />
                  </div>
                </li>

                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="img/la_villa/14.jpg" />
                  </div>
                </li>


                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="img/la_villa/15.jpg" />
                  </div>
                </li>


                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="img/la_villa/16.jpg" />
                  </div>
                </li>


                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="img/la_villa/17.jpg" />
                  </div>
                </li>


                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="img/la_villa/18.jpg" />
                  </div>
                </li>


                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="img/la_villa/19.jpg" />
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="project-3" class="project">
    <div class="row">
      <div class="large-12 columns text-center">
        <div class="close-project">
          <i class="typcn typcn-delete-outline"></i>
        </div>
        <div class="project-details">
          <h3>PREPARATIVI</h3>
          <div class="hr large-1 small-3"></div>
          <p>
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
          </p>
        </div>
        <div class="project-images">
          <div class="row text-center">
            <div id="project-3-slideshow" class="work-slider">
              <ul class="slides">
                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="http://lorempixel.com/630/630/cats/" />
                  </div>
                </li>

                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="http://lorempixel.com/630/630/cats/" />
                  </div>
                </li>

                <li>
                  <div class="project-img-holder">
                    <img alt="Project Image" src="http://lorempixel.com/630/630/cats/" />
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>

<a id="contact-nav"></a>
<section id="contact">
  <div id='map'></div>
 <iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v3/lucavibesmilan.gdncagp0/mm/index.html?secure=1#12/45.6430/12.0033'></iframe>
<div id="map-toggle" class="btn-wrapper"><div class="btn"><i class="typcn typcn-map"></i>MAPPA</div></div>

  <div id="contact-holder">
    <div class="row">
      <div class="large-12 columns text-center">
        <div class="page-header pad-bottom">
          <div class="box-heading">
            SCRIVICI
          </div>
          <h1>RSVP</h1>
          <div class="hr large-1 small-3"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-5 columns">
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.
        </p>
        <ul id="contact-details">
          <li><i class="typcn typcn-phone">&nbsp;</i><a href="tel:3491360779">+39 349 1360779</a></li>
          <li><i class="typcn typcn-mail">&nbsp;</i><a href="mailto:yeah@giuliaefabiosisposano.it">yeah@giuliaefabiosisposano.it</a></li>
          <li><i class="typcn typcn-location-outline">&nbsp;</i><a href="http://www.cadememi.it">c/o Ca' de Memi - Via Roma 4B 35017 Piombino Dese, Veneto, Italia</a></li>
        </ul>
      </div>

      <div class="large-7 columns">
        <div id="contact-form">
          <div id="name">
            <div class="form-icon">
              <i class="typcn typcn-user"></i>
            </div>
            <input id="form-name" type="text" name="name" placeholder="Nome" />
          </div>

          <div id="email">
            <div class="form-icon">
              <i class="typcn typcn-mail"></i>
            </div>
            <input id="form-email" type="text" name="email" placeholder="Email" />
          </div>

          <div id="message">
            <div class="form-icon">
              <i class="typcn typcn-pencil"></i>
            </div>
            <textarea id="form-message" name="message" placeholder="Messaggio"></textarea>
          </div>
          <div id="details-error" class="text-white"><i class="typcn typcn-warning">&nbsp;</i>Attenzione: Assicurati che tutti i campi siano completi</div>
          <div id="form-sent" class="text-white"><i class="typcn typcn-thumbs-up">&nbsp;</i>Grazie per il tuo messaggio!</div>
          <div class="btn-wrapper"><div class="btn">INVIA<i class="typcn typcn-arrow-right"></i></div></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns text-center">
        <div id="footer">
          <div class="hr large-1 small-3"></div>
          <a target="_blank" href="http://www.cadememi.it"><img src="img/gallina_giuliaefabio.png" width="100px" alt=""></a>
          <!-- <ul id="footer-social">
            <li><a href="#"><i class="typcn typcn-social-twitter-circular"></i></a></li>
            <li><a href="#"><i class="typcn typcn-social-facebook-circular"></i></a></li>
            <li><a href="#"><i class="typcn typcn-social-pinterest-circular"></i></a></li>
            <li><a href="#"><i class="typcn typcn-social-vimeo-circular"></i></a></li>
          </ul> -->
        </div>
      </div>
    </div>


  </div><!-- end of contact holder -->




</section>


  <script src="js/vendor/custom.modernizr.js"></script>
  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script src="js/jquery.flexslider.js"></script>
  <script src="js/smooth-scroll.js"></script>
  <script src="js/scripts.js"></script>

  <script>
    $(document).foundation();
  </script>
</body>
</html>
